<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Bu sayfaya giriş izniniz yok</h2>
        <p>Lütfen ana sayfaya yönlendirilmek için aşağıdaki butona tıklayınız. </p>
        <hr />
        <p>
            <a asp-controller="Filmler" asp-action="Index" class="btn btn-outline-success">Ana Sayfa</a>
        </p>
    </div>
</div>